/* 전체 */

.gradio-container {
    max-width: 420px !important;
    margin: 0 auto !important;
}

/* 페이지 */

.page-container {
    min-height: 85vh;
}

/* 상태창 */

.status-box textarea {
    text-align: center;
    font-weight: bold;
}