:root {
    --primary-color: #6B7AFF;
    --background-color: #F5F6FA;
    --card-color: #FFFFFF;
}

/* 전체 */
body {
    background: var(--background-color);
}

/* 카드 */
.gr-group {
    border-radius: 16px !important;
}